# Shipped by Lens Studio

# This .gitignore is generated automatically by Lens Studio and ignores all contents inside the folder, including itself.
# It is suggested to leave it as-is to prevent accidental commit of leftover ignored stuff when switching between multiple projects.
# If you DO need to commit this folder for some reason - do not delete the .gitignore as it will be automatically re-created!
# Instead, replace the "*" below with "" (or any of your custom ruleset)

# Support/ is intentionally committed (generated TS defs for IDE / reference).

# Shipped by Lens Studio
